<!DOCTYPE html>
<html>
<head>
    <title>ToDoMastic</title>
    <link href="src/css/normalize.css" rel="stylesheet">
    <link href="src/css/fonts.css" rel="stylesheet">
    <link href="src/css/style.css" rel="stylesheet">
    <link href="src/css/jquery-te-1.4.0.css" rel="stylesheet">
    <script src="src/js/libs/jquery.js" type="text/javascript"></script>
    <script src="src/js/libs/underscore.js" type="text/javascript"></script>
    <script src="src/js/libs/backbone.js" type="text/javascript"></script>
    <script src="src/js/libs/jquery-te-1.4.0.js" type="text/javascript"></script>
</head>
<body>
    <script type="text/template" id="tags-list">
        <select class="note-tag" id="<%= tag %>">
            <% _.each(list, function(listItem){%>
                <% if(listItem.id == tag) {%>
                    <option id="<%= listItem.id %>" selected><%= listItem.name %></option>
                <% } else {%>
                    <option id="<%= listItem.id %>"><%= listItem.name %></option>
                <% }%>
            <% })%>
        </select>
    </script>
    <script type="text/template" id="new-tag">
        <div class="new-tag-form">
            <a href="" class="close-popup"></a>
            <div class="popup-content">
                <form class="new-tag" action="#">
                    <input type="text" class="tag-name">
                    <button class="add-tag">New tag</button>
                </form>
            </div>
        </div>
    </script>
    <script type="text/template" id="note">
        <div class="note-view">

        </div>
    </script>
    <script type="text/template" id="todo-tag">
        <div class="todo-list-elem">
            <a href="#" class="list-item"><%= name %><span class="show-list">+</span><span class="hide-list">-</span></a>
            <ul>
                <% _.each(list, function(listItem){%>
                    <li id="<%= listItem.noteId %>"><%= listItem.title %></li>
                <% })%>
            </ul>
        </div>
    </script>
    <script type="text/template" id="new-note">
        <div class="new-note-content">
            <div class="note-title-bar">
                <div class="note-title">
                    <input type="text" placeholder="New note" value="<%= title %>">
                </div>
                <div class="current-tag">
                    <select class="note-tag" data-tagid="<%= tagId %>">
                        <option>Select note tag</option>
                    </select>
                </div>
                <div class="note-creation-date">
                    <% var noteData = new Date(parseInt(date)); %>
                    <span class="day"><%= noteData.getDate() %></span>
                    <span class="month-year"><%= (noteData.getMonth() + 1) %>/<%= noteData.getFullYear() %></span>
                </div>
            </div>
            <div class="note-content">
                <textarea class="note-message"><%= note %></textarea>
            </div>
            <div>
                <button class="save" id="<%= id %>">Save</button>
            </div>
        </div>
    </script>
    <div id="todo-home">
        <img src="src/img/main-conten-bg.jpg" class="main-bg">
        <div class="todo-app">
            <div class="todo-header">
                <div class="todo-logo"><h1>ToDoMastic</h1></div>
                <div class="todo-header-action">
                    <div class="todo-search">
                        <span>f</span>
                        <input type="text" placeholder="Enter keyword..."/>
                    </div>
                    <div class="todo-action" id="todo-action">
                        <ul>
                            <li><a href="#" class="refresh-btn">u</a></li>
                            <li><a href="#" class="create-new-btn">r</a></li>
                            <li><a href="#" class="logout-btn">l</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="todo-content" id="main-content">
                <div class="todo-side-bar">
                    <div class="todo-nav" id="todo-nav">
                        <ul class="todo-nav-action">
                            <li><div class="user-icon"><img src="src/img/content/user-icon.png" alt="#"></div></li>
                            <li><a href="#note">n</a></li>
                            <li><a href="#todo">v</a></li>
                            <li><a href="#settings">s</a></li>
                        </ul>
                    </div>
                    <div class="todo-item-list" id="todo-list">
                        <div class="tag-content"></div>
                        <a href="#new-note" class="new-note-btn">New note</a>
                        <a href="" class="add-new-tag">New Tag</a>
                    </div>
                </div>
                <div class="todo-main-content">

                </div>
            </div>
        </div>
    </div>
    <script src="src/js/routers/router.js" type="text/javascript"></script>
    <script src="src/js/events/events.js" type="text/javascript"></script>
    <script src="src/js/models/note.js" type="text/javascript"></script>
    <script src="src/js/models/todoTag.js" type="text/javascript"></script>
    <script src="src/js/collections/todoTags.js" type="text/javascript"></script>
    <script src="src/js/collections/notes.js" type="text/javascript"></script>
    <script src="src/js/views/todoTags.js" type="text/javascript"></script>
    <script src="src/js/views/todoTag.js" type="text/javascript"></script>
    <script src="src/js/views/navigation.js" type="text/javascript"></script>
    <script src="src/js/views/newNote.js" type="text/javascript"></script>
    <script src="src/js/views/actionBar.js" type="text/javascript"></script>
    <script src="src/js/views/notes.js" type="text/javascript"></script>
    <script src="src/js/views/note.js" type="text/javascript"></script>
    <script src="src/js/views/newTag.js" type="text/javascript"></script>
    <script src="src/js/views/tagList.js" type="text/javascript"></script>
    <script src="src/js/todoMastic.js" type="text/javascript"></script>
    <script src="src/js/main.js" type="text/javascript"></script>
</body>
</html>