<!DOCTYPE html>
<html>
<head>
    <title>ToDoMastic</title>
    <link href="src/css/normalize.css" rel="stylesheet">
    <link href="src/css/fonts.css" rel="stylesheet">
    <link href="src/css/style.css" rel="stylesheet">
    <script src="src/js/libs/jquery.js" type="text/javascript"></script>
    <script src="src/js/libs/underscore.js" type="text/javascript"></script>
    <script src="src/js/libs/backbone.js" type="text/javascript"></script>
</head>
<body>
    <script type="text/template" id="todo-tag">
        <div class="todo-list-elem">
            <a href="#" class="list-item"><%= tagTitle %><span class="show-list">+</span><span class="hide-list">-</span></a>
            <ul>
                <% _.each(list, function(listItem){%>
                    <li id="todo-<%= listItem.id %>"><%= listItem.title %></li>
                <% })%>
            </ul>
        </div>
    </script>
    <script type="text/template" id="new-note">
        <div class="new-note-content">
            <p>New note</p>
            <div class="note-content">
                <input type="text" class="note-title">
                <select class="note-tag">
                    <option>Select note tag</option>
                </select>
                <textarea class="note-message"></textarea>
                <button class="save">Save</button>
            </div>
        </div>
    </script>
    <div id="todo-home">
        <img src="src/img/main-conten-bg.jpg" class="main-bg">
        <div class="todo-app">
            <div class="todo-header">
                <div class="todo-logo"><h1>ToDoMastic</h1></div>
                <div class="todo-header-action">
                    <div class="todo-search">
                        <span>f</span>
                        <input type="text" placeholder="Enter keyword..."/>
                    </div>
                    <div class="todo-action" id="todo-action">
                        <ul>
                            <li><a href="#" class="refresh-btn">u</a></li>
                            <li><a href="#" class="create-new-btn">r</a></li>
                            <li><a href="#" class="logout-btn">l</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="todo-content">
                <div class="todo-side-bar">
                    <div class="todo-nav" id="todo-nav">
                        <ul class="todo-nav-action">
                            <li><div class="user-icon"><img src="src/img/content/user-icon.png" alt="#"></div></li>
                            <li><a href="#note">n</a></li>
                            <li><a href="#todo">v</a></li>
                            <li><a href="#settings">s</a></li>
                        </ul>
                    </div>
                    <div class="todo-item-list" id="todo-list">
                        <div><a href="#new-note">New note</a></div>
                    </div>
                </div>
                <div class="todo-main-content">

                </div>
            </div>
        </div>
    </div>
    <script src="src/js/routers/router.js" type="text/javascript"></script>
    <script src="src/js/events/events.js" type="text/javascript"></script>
    <script src="src/js/models/todoTag.js" type="text/javascript"></script>
    <script src="src/js/collections/todoTags.js" type="text/javascript"></script>
    <script src="src/js/views/todoTags.js" type="text/javascript"></script>
    <script src="src/js/views/todoTag.js" type="text/javascript"></script>
    <script src="src/js/views/navigation.js" type="text/javascript"></script>
    <script src="src/js/views/newNote.js" type="text/javascript"></script>
    <script src="src/js/views/actionBar.js" type="text/javascript"></script>
    <script src="src/js/todoMastic.js" type="text/javascript"></script>
    <script src="src/js/main.js" type="text/javascript"></script>
</body>
</html>