@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?rewl2u');
    src:url('fonts/icomoon.eot?#iefixrewl2u') format('embedded-opentype'),
    url('fonts/icomoon.woff?rewl2u') format('woff'),
    url('fonts/icomoon.ttf?rewl2u') format('truetype'),
    url('fonts/icomoon.svg?rewl2u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}