/**
* SETTINGS
* Global........................ variables and config.
*
* GENERIC
* normalize.css................. A level playing field.
*
* COMPONENTS:
* ToDoApplication............... Main application content
* Header........................
* Search........................
* TodoAction....................
* TodoContent...................
* SideBar.......................
* NavAction.....................
* ListElem......................
*
*/
.size {
  height: 100%;
  width: 100%;
}
.height {
  height: 100%;
}
.width {
  width: 100%;
}
.offset {
  margin: 0px;
  padding: 0px;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/*
* #ToDoApplication
*/
#todo-home {
  height: 100%;
}
#todo-home .main-bg {
  position: fixed;
  height: 100%;
  width: 100%;
}
.todo-app {
  width: 1205px;
  height: 865px;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 25px;
  background: #ffffff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
/*
* #Header
*/
.todo-app .todo-header {
  width: 100%;
  z-index: 1;
  height: 90px;
  position: relative;
  background: #f8f8f8;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}
.todo-header .todo-logo {
  height: 100%;
  width: 336px;
  float: left;
  background: #eeeeee;
}
.todo-header .todo-logo h1 {
  color: #4a405e;
  font-weight: normal;
  margin-left: 45px;
  margin-top: 30px;
}
/*
* #Search
*/
.todo-header-action .todo-search {
  float: left;
  padding-top: 35px;
  padding-left: 35px;
}
.todo-header-action .todo-search span {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 22px;
  color: #b1b0b3;
  text-decoration: none;
  line-height: 20px;
  float: left;
  padding-right: 10px;
}
.todo-header-action .todo-search input {
  border: none;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  color: #b1b0b3;
  float: left;
  width: 400px;
  background: #f8f8f8;
}
.todo-header-action .todo-search input:focus {
  outline: 0;
}
/*
* #TodoAction
*/
.todo-header-action .todo-action {
  float: right;
}
.todo-header-action .todo-action ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  list-style-type: none;
}
.todo-header-action .todo-action ul li {
  float: left;
  border-left: 1px solid #b1b0b3;
}
.todo-header-action .todo-action ul a {
  display: block;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 32px;
  color: #4a405e;
  text-align: center;
  text-decoration: none;
  padding: 28px;
  line-height: 34px;
}
.todo-header-action .todo-action ul a:hover {
  background: #eeeeee;
}
/*
* #TodoContent
*/
.todo-app .todo-content {
  height: 100%;
  width: 100%;
  background: #eeeeee;
}
/*
* #SideBar
*/
.todo-side-bar {
  height: 100%;
  width: 338px;
  float: left;
}
.todo-side-bar .todo-nav {
  height: 100%;
  width: 88px;
  float: left;
  background: #4a405e;
  border-left: 1px solid #7e6d9f;
}
.todo-side-bar .todo-item-list {
  height: 100%;
  position: relative;
  width: 0px;
  overflow: hidden;
  float: left;
  background: #f8f8f8;
  border-right: 1px solid #c5c2c0;
  -webkit-box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.5);
  box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.5);
}
/*
* #NavAction
*/
.todo-nav .todo-nav-action {
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
}
.todo-nav .todo-nav-action li {
  border-bottom: 2px solid #413a50;
  line-height: 0px;
  overflow: hidden;
}
.todo-nav .todo-nav-action a {
  display: block;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding-top: 28px;
  padding-bottom: 28px;
  border-bottom: 1px solid #584b73;
  line-height: 24px;
}
.todo-nav .todo-nav-action a:hover {
  background-color: #241d34;
}
.todo-nav .todo-nav-action a.active {
  background-color: #241d34;
}
.todo-nav .todo-nav-action div.user-icon {
  width: 76px;
  height: 76px;
  margin: auto;
  padding-bottom: 10px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
}
.todo-nav .todo-nav-action div.user-icon img {
  float: left;
}
/*
* #ListElem
*/
.todo-item-list .todo-list-elem {
  padding-left: 26px;
  padding-right: 20px;
  padding-top: 10px;
}
.todo-item-list .todo-list-elem span.hide-list {
  display: none;
}
.todo-item-list .todo-list-elem ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  padding-top: 8px;
  display: none;
}
.todo-item-list .todo-list-elem ul li {
  color: #938ca0;
  font-size: 14px;
  padding-top: 4px;
  cursor: pointer;
}
.todo-item-list .todo-list-elem a {
  text-decoration: none;
  color: #4a405e;
  font-size: 18px;
  display: block;
}
.todo-item-list .todo-list-elem a span {
  font-family: 'icomoon';
  float: right;
}
.todo-item-list .todo-list-show span.show-list {
  display: none;
}
.todo-item-list .todo-list-show span.hide-list {
  display: block;
}
.todo-item-list .todo-list-show ul {
  display: block;
}

.add-new-tag{
  display: block;
  text-decoration: none;
  padding: 8px;
  border: 1px solid #4a405e;
  text: #4a405e;
  text-align: center;
  width: 190px;
  margin: auto;
  border-radius: 4px;
}

.add-new-tag:hover{
  background: #4a405e;
  color: #ffffff;
}

.tag-content{
  padding-bottom: 15px;
}

/*
* #MainContent
*/
.todo-main-content{
  float: right;
  width: 865px;
}

/*
* #NewNote
*/

.new-note-content{
  padding: 30px;
}

.new-note-content .note-title-bar{
  background: #ffffff;
  overflow: hidden;
  margin-bottom: 5px;
}

.new-note-content .note-title{
  float: left;
  padding: 30px;
  width: 486px;
  padding-top: 25px;
  padding-bottom: 22px;
}

.new-note-content .note-title input{
  border: none;
  color: #a9a9a9;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  outline: none;
  width: 100%;
}

.new-note-content .note-creation-date{
  float: right;
  width: 108px;
  background: #f8f8f8;
}

.new-note-content .note-creation-date span.day{
  color: #4a405e;
  font-size: 24px;
  width: 100%;
  text-align: center;
  display: block;
  padding-top: 12px;
}

.new-note-content .note-creation-date span.month-year{
  color: #4a405e;
  font-size: 14px;
  width: 100%;
  text-align: center;
  display: block;
  padding-bottom: 12px;
}

.note-content{
  background: #ffffff;
}

.note-content .jqte_editor{
  height: 570px;
  max-height: 570px;
  resize: none;
}

.note-title-bar .current-tag{
  width: 150px;
  background: #f8f8f8;
  float: left;
  border-right: 1px solid #b1b0b3;
  padding-top: 23px;
  padding-bottom: 23px;
}

.note-title-bar .current-tag select{
  margin: auto;
  display: block;
}

.new-note-btn{
  display: none;
}

/*
* #NewTag
*/
.overlay-view{
  background-color: rgba(61, 47, 61, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.new-tag-form{
  position: absolute;
  width: 350px;
  height: 150px;
  background: #ffffff;
  border-radius: 4px;
}